body {
  text-align: center;
  font-family: "Arial";
  background-color: #fafafa;
}

.container {
  border: none;
  border-radius: 10px;
  color: black;
  background-color: white;
  margin: 4em;
}

.cabecera {
  background-color: blue;
  text-align: left;
  color: white;
}

.cabecera span {
  margin-left: 10px;
}
