body {
  text-align: center;
  font-family: "Arial";
  background-color: #fafafa;
}

.container {
  border: none;
  border-radius: 10px;
  height: 200px;
  color: black;
  background-color: white;
  margin: 4em;
  position: relative;
}

.cabecera {
  background-color: blue;
  text-align: left;
  color: white;
}

.cabecera span {
  margin-left: 10px;
}

.post {
padding:5px;

}

.pie{
position: absolute;
padding: 0px;
background: gray;
right: 0px;
bottom: 0px;
}


.pie p{
padding: 0x;
margin:0px;
color: white;
font-size:.8em;
}
